<div class="product-card">
    <a href="{{ product.url }}">
        {% if image != blank %}
            <div class="img-container">
                <a href={{product.url}}>
                    <img class="product-list-image" src="{{ image | img_url: 'medium' }}" loading="lazy" alt="{{ product.title }}">
                    {% if product.compare_at_price != null%}
                        <p>Saldi</p>
                    {% endif %}
                </a>
            </div>
        {% else %}
            <div class="img-container">
                <a href={{product.url}}>
                    {{ 'product-1' | placeholder_svg_tag: 'card-img-top' }}
                    {% if product.compare_at_price != null%}
                        <p>Saldi</p>
                    {% endif %}
                </a>
            </div>
        {% endif %}
        <a href={{product.url}}>
            <div class="mt-2 product-detail-container">
                <p class="vendor">{{product.vendor}}</p>
                <p>{{ product.title }}</p>
                <div class="d-flex flex-row">
                    <p class="price">{{ product.price | money_without_trailing_zeros }}</p>
                    {% if product.compare_at_price %}
                        <del>{{product.compare_at_price | money_without_trailing_zeros}}</del>
                    {% endif %}
                </div>


            </div>
        </a>
    </a>
</div>