<div class="container mb-5 account">
    <h1 class="mb-3 text-center">Account</h1>
    <div class="d-block p-2 bg-light text-black text-center">
        <h6>
            Ciao
            {{customer.first_name}}
        </h6>
        <p>Non sei tu?
            <a class="text-underline" href="{{ routes.account_logout_url }}">Log Out</a>
        </p>
        <p></p>
    </div>


    <div class="row">
        <div class="col-12 col-md-4">
            <h6>Dettagli dell'account</h6>
            {% assign address = customer.default_address | format_address %}
            {% if address == "" %}
                <p>Non ci sono indirizzi collegati a questo account</p>
            {% else %}
                <p>{{address}}</p>
            {% endif %}

            <a href="{{ routes.account_addresses_url }}" class="btn btn-dark btn-sm my-2 rounded-0 w-100">Visualizza indirizzi</a>
        </div>
        <div class="col-12 col-md-8"></div>
        <div class="customer_orders">
            {% if customer.orders.size > 0 %}
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Numero dell'ordine</th>
                                <th>Stato</th>
                                <th>Pagamento</th>
                                <th>Data dell'ordine</th>
                                <th>Totale</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in customer.orders %}
                                <tr>
                                    <td>
                                        <a href="{{order.customer_url}}">{{order.name}}</a>
                                    </td>
                                    <td>
                                        {{order.fulfillment_status_label}}
                                    </td>
                                    <td>
                                        {{order.financial_status_label}}
                                    </td>
                                    <td>{{order.created_at | time_tag: format: 'date'}}</td>
                                    <td>{{order.total_price | money}}</td>

                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            {% endif %}
        </div>
    </div>
</div>