<!-- /templates/customers/account.liquid -->
<div class="container my-5">
    <h1 class="mb-3">Account</h1>
    <div class="d-block p-2 bg-light text-black text-center">
        <h6>
            Ciao
            {{customer.first_name}}
        </h6>
        <h6>Non sei tu?
            <a href="{{ routes.account_logout_url }}">Log Out</a>
        </h6>


    </div>

    <div class="row">
        <div class="col-12 col-md-4">
            <h6>Dettagli dell'account</h6>
            {{customer.default_address | format_address}}
            <a href="{{ routes.account_addresses_url }}" class="btn btn-light">Visualizza indirizzi</a>
            <span class="badge bg-success">{{customer.addresses_count}}</span>
        </div>
        <div class="col-12 col-md-8"></div>
        <div class="customer_orders">
            {% if customer.orders.size > 0 %}
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Numero dell'ordine</th>
                            <th>Stato</th>
                            <th>Pagamento</th>
                            <th>Data dell'ordine</th>
                            <th>Totale</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in customer.orders %}
                            <tr>
                                <td>
                                    <a href="{{order.customer_url}}">{{order.name}}</a>
                                </td>
                                <td>
                                    <span class="badge bg-primary">{{order.fulfillment_status_label}}</span>
                                </td>
                                <td>
                                    <span class="badge bg-success">{{order.financial_status_label}}</span>
                                </td>
                                <td>{{order.created_at | time_tag: format: 'date'}}</td>
                                <td>{{order.total_price | money}}</td>

                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
</div>