<header class="nav-header">
    <div class="nav-container">
        <div class="brand">
            <a class="nav-link" href="/">
                <h2>Cele</h2>
            </a>
        </div>

        <div class="mobile-nav">
            <button class="menu-btn pull-right">
                <div class="menu-btn__burger"></div>
            </button>
        </div>


        <nav class="nav-bar">
            <ul class="nav-menu">
                <li class="menu-item has-sub-menu">
                    <a href="#">Donna</a>
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a href={{routes.all_products_collection_url }}>Abbigliamento</a>
                        </li>
                        <li class="menu-item has-sub-menu">
                            <a href="">Designer</a>
                            <ul class="sub-menu">
                                {% for product_vendor in shop.vendors %}
                                    <li class="menu-item">
                                        <a href="">{{ product_vendor}}</a>
                                    </li>
                                    <!-- {{ product_vendor | link_to_vendor }} -->
                                {% endfor %}

                            </ul>
                        </li>

                    </ul>
                </li>
                <li class="menu-item">
                    <a href="#">Accessori</a>
                </li>
                <li class="menu-item">
                    <a href="#">Scarpe
                    </a>
                </li>


            </ul>

        </nav>


        <div class="icons-section">
            <form action="/search" class="search-bar-lg" method="GET" role="search">
                <input placeholder="Cerca per parola chiave" type="text" name="q" value="{{ search.terms | escape }}" id="searchInputField">
            </form>
            <button class="search-icon"><img alt="" src="{{ 'search.svg' | asset_url }}"></button>
            {% if shop.customer_accounts_enabled %}
                {% if customer %}
                    <button class="user-icon">
                        <a href="{{ routes.account_url }}"><img alt="" src="{{ 'user.svg' | asset_url }}"></a>
                    </button>

                {% else %}
                    <button class="user-icon">
                        <a href="{{ routes.account_login_url }}"><img alt="" src="{{ 'user.svg' | asset_url }}"></a>
                    </button>

                {% endif %}
            {% endif %}
            <button class="bag-icon">
                <a href="/cart"><img alt="" src="{{ 'bag.svg' | asset_url }}"></a>
            </button>
        </div>
    </div>
    <div class="search-bar">
        <img class="search-bar-icons" alt="" src="{{ 'search.svg' | asset_url }}">
        <form action="/search" method="GET" role="search">
            <input class="search-bar-input" placeholder="Cerca per parola chiave" type="text" name="q" value="{{ search.terms | escape }}" id="searchInputField">
        </form>
        <button id="close-searchbar"><img class="search-bar-icons" alt="" src="{{ 'close.svg' | asset_url }}"></button>


    </div>
</header>


<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Navbar</a>
        <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbarNav" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                {% for link in linklists.main-menu.links %}
                    {% assign child_list_handle = link.title | handleize %}
                    {% if linklists[child_list_handle].links != blank %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ link.url }}">{{ link.title }}</a>
                        </li>
                        [
                        {% for childlink in linklists[child_list_handle].links %}
                            <li class="nav-item">
                                <a class="nav-link" id="searchInputField" href="{{ childlink.url }}">{{ childlink.title | escape }}
                                </a>
                            </li>
                        {% endfor %}]
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ link.url }}">{{ link.title }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                <li class="nav-item">
                    <a class="nav-link" href="/cart">Carrello
                        <span class="badge bg-danger rounded-pill" id="numberOfCartItems"></span>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav">
          
                <li class="nav-item"></li>
            </ul>
            <form action="/search" method="GET" role="search">
                <input type="text" name="q" value="{{ search.terms | escape }}" id="searchInputField">
            </form>
        </div>
    </div>
</nav>

<div aria-labelledby="offcanvasLabel" class="offcanvas offcanvas-end" id="offcanvasSearchResult" tabindex="-1">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasLabel">Risultati della ricerca</h5>
        <button aria-label="Close" class="btn-close text-reset" data-bs-dismiss="offcanvas" type="button"></button>
    </div>
    <div class="offcanvas-body" id="search_results_body"></div>
</div> -->