<header class="nav-header">
    <div class="nav-container">
        <div class="brand">
            <a class="nav-link" href="/">
                <h2>Cele</h2>

            </a>
        </div>

        <div class="mobile-nav">
            <button class="menu-btn pull-right">
                <div class="menu-btn__burger"></div>
            </button>
        </div>


        <nav class="nav-bar">
            <ul class="nav-menu">
                <li class="menu-item has-sub-menu">
                    <a href="#">Donna</a>
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a href={{routes.all_products_collection_url }}>Abbigliamento</a>
                        </li>
                        <li class="menu-item has-sub-menu">
                            <a>Designer</a>
                            <ul class="sub-menu">
                                {% for product_vendor in shop.vendors %}
                                <li class="menu-item">

                                    {% if product_vendor != "Cele Boutique Alghero" %}
                                    <a href="/collections/vendors?q={{product_vendor | downcase }}">{{ product_vendor }}</a> {% endif %}

                                </li>
                                <!-- {{ product_vendor | link_to_vendor }} -->
                                {% endfor %}

                            </ul>
                        </li>

                    </ul>
                </li>
                <li class="menu-item">
                    <a href="/collections/types?q=Accessori">Accessori</a>
                </li>
                <li class="menu-item">
                    <a href="/collections/types?q=Scarpe">Scarpe
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/collections/types?q=Scarpe">Saldi
                    </a>
                </li>
                <li class="menu-item has-sub-menu">
                    <a>Scopri</a>
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a href="/products/consulenza-online?variant=40425888415916">Consulenza</a>
                            <a href="">La nostra storia</a>
                            <a href="">Il negozio</a>

                        </li>

                    </ul>
                </li>


            </ul>

        </nav>


        <div class="icons-section">
            <div class="search-bar">
                <img class="search-bar-icon" alt="" src="{{ 'search.svg' | asset_url }}">
                <form action="/search" method="GET" role="search">
                    <input class="px-1 search-bar-input" id="searchInputField" placeholder="Cerca per parola chiave" type="text" name="q" value="{{ search.terms | escape }}">
                </form>
                <button id="close-searchbar"><img class="close-search-bar-icon" alt="" src="{{ 'close.svg' | asset_url }}"></button>


            </div>
            <button class="search-icon"><img alt="" src="{{ 'search.svg' | asset_url }}"></button> {% if shop.customer_accounts_enabled %} {% if customer %}
            <button class="user-icon">
                        <a href="{{ routes.account_url }}"><img alt="" src="{{ 'user.svg' | asset_url }}"></a>
                    </button> {% else %}
            <button class="user-icon">
                        <a href="{{ routes.account_login_url }}"><img alt="" src="{{ 'user.svg' | asset_url }}"></a>
                    </button> {% endif %} {% endif %}
            <button class="bag-icon">
                <a href="/cart"><img alt="" src="{{ 'bag.svg' | asset_url }}">
                    <span class="cart-badge" id="numberOfCartItems">{{cart.item_count}}</span>
                </a>
            </button>
        </div>
    </div>
</header>
<div aria-labelledby="offcanvasLabel" class="offcanvas offcanvas-end" id="offcanvasSearchResult" tabindex="-1">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasLabel">Risultati della ricerca</h5>
        <button aria-label="Close" class="btn-close text-reset" data-bs-dismiss="offcanvas" type="button"></button>
    </div>
    <div class="offcanvas-body" id="search_results_body"></div>
</div>