<div class="container products-page">
    {% paginate collection.products by 20 %}
    <div class="row mb-4">
        <h1 class="text-center ">{{ collection.title }}</h1>
    </div>
    <div class="button-container">
        <button class="btn btn-light" id="filter-btn" type="button">
                {% if request.path contains "collections/all"%}
                    Filtra e Ordina
                {% else %}
                    Ordina
                {% endif %}

                <img class="control-icon" alt="" src="{{ 'sound-control.svg' | asset_url }}">
            </button>
    </div>


    <div class="filters-container">
        <button id="close-filters-icon" type="button">
                <img class="close-icon" alt="" src="{{ 'close.svg' | asset_url }}">
            </button>
        <div class="sort-section">
            <p>Ordina</p>
            <select class="text-uppercase sort-form form-select form-select-sm rounded-0 border-0 font-weight-bold" id="sort_by" name="sorting">
                    {% for option in collection.sort_options %}
                        <option value="{{ option.value }}" {% if option.value == collection.sort_by %} selected {% endif %}>{{ option.name }}</option>
                    {% endfor %}
                </select>
        </div>
        {% if request.path contains "collections/all"%}

        <div class="filter-section">
            <p>Filtra</p>
            <div class="filter-subsection">
                {%- for filter in collection.filters -%}
                <form>

                    <div class="dropdown rounded-0">
                        <button aria-expanded="false" class="text-uppercase btn btn-secondary dropdown-toggle dropdown-btn font-weight-bold " data-bs-toggle="dropdown" id="dropdownMenuButton-{{forloop.index}}" type="button">
                                        {{filter.label}}
                                    </button>
                        <ul aria-labelledby="dropdownMenuButton-{{forloop.index}}" class="dropdown-menu checkbox-menu" id="dropdownMenu-{{forloop.index}}">
                            {%- for filter_value in filter.values -%} {% if filter_value.value != "Cele Boutique Alghero" %}
                            <li>
                                <input type="checkbox" name="{{ filter_value.param_name }}" value="{{ filter_value.value }}" id="Filter-{{ filter.label }}-{{ forloop.index }}" {% if filter_value.active -%} checked {%- endif %} {% if filter_value.count==0 and filter_value.active==false
                                    -%} disabled {%- endif %}>
                                <label class=" dd-label" for="Filter-{{ filter.label }}-{{ forloop.index }}">{{filter_value.value}}</label>
                            </li>
                            {% endif %} {%- endfor -%}
                            <div class="filter-group-display__submit">
                                <input class="applybtn " type="submit" value="Applica">
                            </div>
                        </ul>
                    </div>
                </form>
                {%- endfor -%}
            </div>
        </div>

        <div class="delete-filters">
            <a href="{{ collection.url }}" class=" active-filters__clear">Cancella i filtri</a>
        </div>
    </div>


    <div class="active-filters">
        {% for filter in collection.filters %} {% if filter.active_values.size != 0 %}
        <p>Filtri attivi:</p>
        {% endif %} {% endfor %} {%- for filter in collection.filters -%} {% for value in filter.values %} {% if value.active %}
        <p>{{filter.label}}, {{value.label}}
        </p>
        <div class="delete-filters">
            <a href="{{ collection.url }}" class="active-filters__clear">
                <img class="close-icon" alt="" src="{{ 'close.svg' | asset_url }}">
            </a>
        </div>
        {% endif %} {% endfor %} {%- endfor -%} {% endif %}
    </div>

    <div class="product-list-container">
        <script>
            console.log({{collection.products | json}})
        </script>
        {% for product in collection.products %} 
        
        
        {% if product.available == true %}
            
        {% if product.vendor != "Cele Boutique Alghero" %} {% assign image = product.featured_media.preview_image %}
        <div class="product-card">
            <a href="{{ product.url }}">
                            {% if image != blank %}
                                <div class="img-container">

                                    <a href={{product.url}}>
                                        <img class="product-list-image" src="{{ image | img_url: 'medium' }}" alt="{{ product.title }}">
                                    </a>
        </div>
        {% else %}
        <div class="img-container">
            <a href={{product.url}}>
                                        {{ 'product-1' | placeholder_svg_tag: 'card-img-top' }}
                                    </a>
        </div>
        {% endif %}
        <a href={{product.url}}>
            <div class="mt-2 product-detail-container">
                <p class="">{{product.vendor}}</p>
                <p class="">{{ product.title }}</p>
                <p class="price">{{ product.price | money_without_trailing_zeros }}</p>
            </div>
        </a>
        </a>
    </div>
    {% endif %}        {% endif %}
    {% else %}
    <p>Nessun risultato</p>
    {% endfor %}
</div>
{% render 'pagination', paginate: paginate %} {% endpaginate %}
</div>