{% paginate search.results by 10 %}
    <div class="container products-page">
        <div class="row">
            <h1 class="text-center text-sm ">Risultati della ricerca</h1>
        </div>
        <div class="product-list-container">
            {% if search.performed %}
                {% for item in search.results %}
                    {% if product.vendor != "Cele Boutique Alghero" %}
                        {% assign image = item.featured_image %}
                        <div class="product-card">
                            <a href="{{ item.url | within: collection}}">
                                {% if image != blank %}
                                    <div class="img-container">

                                        <a href={{item.url}}>
                                            <img class="product-list-image" src="{{ image | img_url: 'medium' }}" alt="{{ item.title }}">
                                        </a>
                                    </div>
                                {% else %}
                                    <div class="img-container">
                                        <a href={{item.url}}>
                                            {{ 'product-1' | placeholder_svg_tag: 'card-img-top' }}
                                        </a>
                                    </div>
                                {% endif %}
                                <a href={{item.url | within: collection}}>
                                    <div class="mt-2 product-detail-container">
                                        <p class="">{{item.vendor}}</p>
                                        <p class="">{{ item.title }}</p>
                                        <p class="price">{{ item.price | money_without_trailing_zeros }}</p>
                                    </div>
                                </a>
                            </a>
                        </div>
                    {% endif %}
                {% else %}
                    <p>Nessun risultato</p>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="row">
        {% render 'pagination', paginate: paginate%}
    </div>
{% endpaginate %}
